@font-face {
   font-family: "Hind Vadodara";
   src: url("../../fonts/HindVadodara.eot");
   src: url("../../fonts/HindVadodara.eot?#iefix")format("embedded-opentype"),
   url("../../fonts/HindVadodara.woff2")format("woff2"),
   url("../../fonts/HindVadodara")format("woff"),
   url("../../fonts/HindVadodara")format("truetype"),
   url("../../fonts/HindVadodara.svg#Hind Vadodara")format("svg");
}

@font-face {
   font-family: "PlayfairDisplay";
   src: url("../../fonts/PlayfairDisplay.eot");
   src: url("../../fonts/PlayfairDisplay.eot?#iefix")format("embedded-opentype"),
   url("../../fonts/PlayfairDisplay.woff2")format("woff2"),
   url("../../fonts/PlayfairDisplay")format("woff"),
   url("../../fonts/PlayfairDisplay")format("truetype"),
   url("../../fonts/PlayfairDisplay.svg#Hind Vadodara")format("svg");
}